body{

   background-color: #fae1c5;
}

hr{
   border-style: none;
   border-top-style: dotted;
   border-color: #765827 ;
   border-width: 5px;
   width: 100%;
}

h2{
   color: #65451F;
   font-size: 35px;
}

h1{
   color: #e55f61;
   font-size: 25px;
}

p{
   color: #6A9C89;
   font-size: 15px;
}

ul{
   color: #6A9C89;
}

